<div class="container-fluid" id="nopad">
	<div class="nav" id="header">
		<div class="row">
			<div class="col-xs-4">		
				<h1 id="h1"><span style="color:greenyellow; font-weight:bold">~</span><span style="color:white">User<span style="color:greenyellow; font-weight:bold">~</span></span></h1>
			</div>
			<div class="col-xs-4" id="center">
				<p id="notice"><%= notice %></p>
			</div>
			<div class="col-xs-4" id="right">	
				<h1 id="h1"><span style="color:greenyellow; font-weight:bold">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="scroll-content">
	<div class="row">
		<div class="col-xs-2">
			<h4 id="h4bold">First Name</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">Last Name</h4>
		</div>
		<div class="col-xs-2">
			<h4 id="h4bold">Role</h4>
		</div>
		<div class="col-xs-1">
			<h4 id="h4bold">Status</h4>
		</div>
	</div> 
	<div class="row">
		<div class="col-xs-2">
			<p><%= @user.first_name %></p>
		</div>
		<div class="col-xs-2">
			<p><%= @user.last_name %></p>
		</div>
		<div class="col-xs-2">
			<p><%= @user.role %></p>
		</div>
		<div class="col-xs-2">
			<p><%= @user.status %></p>
		</div>
	</div>
</div>
</div>
<div class="container-fluid" id="posfix">
	<div class="nav">
		<ul>
			<li><p class="linktopgreen"><%= link_to "Back to Events", events_path %> | <%= link_to "Edit User Info", edit_user_path(@user) %> | <%= link_to "Back to Users", users_path %></p></li>