<div class="container-fluid" id="nopad">
	<div class="nav" id="header">
		<div class="row">
			<div class="col-xs-4">		
				<h1 id="h1"><span style="color:greenyellow; font-weight:bold">~</span><span style="color:white">Update Team Info<span style="color:greenyellow; font-weight:bold">~</span></span></h1>
			</div>
			<div class="col-xs-4" id="center">
				<p id="notice"><%= notice %></p>
			</div>        
			<div class="col-xs-4" id="right">				
				<h1 id="h1"><span style="color:greenyellow; font-weight:bold">Demo Use Only</span></h1>
			</div>				
		</div>					
	</div>
</div>
<div class="container-fluid" id="scroll-content">
	
	<%= render "form" %>
	
</div>
<div class="container-fluid" id="posfix">
	<div class="nav">
		<ul>
			<li><p class="linktopgreen"><%= link_to "Back to Events", events_path %> | <%= link_to "Show Team", @entrant %> | <%= link_to "Back to Teams", entrants_path %></p></li>