<!DOCTYPE html>
<html>
<head>
  <title>ScoreSheet</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
	<div class="header">
		<div class="nav" id="right">
			<% if current_user %>
				<ul>
					<li><%= current_user.email %> | <%= link_to "Log out", logout_path, method: "delete" %></li>
				</ul>
			<% else %>
				<ul>
					<li><%= link_to "Log in  |  ", login_path %></a><%= link_to "Sign up", signup_path %></a></li>
				</ul>
			<% end %>
		</div>
		<div class = "nav">	
			<div class = "col-xs-2" id="sniffingleft">
				<%= image_tag("P1060231.JPG", class: "img") %>
			</div>
			<div class = "col-xs-2" id="sniffing">
				<%= image_tag("two-dogs-sniffing.jpg", class: "img") %>
			</div>
			<div class = "col-xs-2" id="sniffing">
				<%= image_tag("dog-142328_1920.jpg", class: "img") %>
			</div>
			<div class = "col-xs-2" id="sniffing">
				<%= image_tag("7175995318_b30fb66085_m.jpg", class: "img") %>
			</div>	
			<div class = "col-xs-2" id="sniffing">
				<%= image_tag("dog_sniffing_water.jpg", class: "img") %>
			</div>
			<div class = "col-xs-2" id="sniffingright">
				<%= image_tag("dog_sniffing_185404-980x560.jpg", class: "img") %>
			</div>
		</div>
	</div>	
</div>
	
	<%= yield %>

	
		<h4 class="h4bold"><span style="color:greenyellow; font-size:28px; font-weight:bold;">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span>NOSINGforFUN<span style="color:greenyellow; font-size:28px; font-weight:bold">~</span></h4>	
		</div>
	</div>
</body>
</html>